<div class="d-flex flex-wrap pm-3">
  <% @flats.each do |flat| %>
    <div class="card m-2" style="width: 18rem;">
      <img class="card-img-top" style= "height: 150px"src="https://picsum.photos/200/300" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> <%= flat.name %> </h5>
        <p class="card-text"> <%= flat.description.truncate(100) %> </p>
        <div class="icons d-flex p-3 justify-content-between">
          <p><i class="fas fa-user-friends"></i> <%= flat.number_of_guests %></p>
          <p><i class="fas fa-pound-sign"></i> <%= flat.price_per_night %></p>
        </div>
        <%= link_to "More info", flat_path(flat) %>
      </div>
    </div>
  <% end %>
</div>
