<div id='map' style='width: 100%; height: 300px;'></div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibXJvc2VzMzMiLCJhIjoiY2tndzk0bTI1MDVyMjJxcWNxeWZtZWdsOSJ9.HxcM2esbBpo46nPzdTE76Q';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11'
  });
</script>


<div class="card">
  <div class="card-body">
    <h2><%= @flat.name %></h2>
    <p><%= @flat.address %></p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <p><%= @flat.description %></p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4>Details</h4>
    <div class="icons d-flex p-3 justify-content-between">
      <p><i class="fas fa-user-friends"></i> <%= @flat.number_of_guests %></p>
      <p><i class="fas fa-pound-sign"></i> <%= @flat.price_per_night %></p>
    </div>
    <p><%= @flat.address %></p>
  </div>
</div>
